.munch-owra-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  .items {
    position: absolute;
    left: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .munch-owra {
      height: mobile-vw(240px);
      width: mobile-vw(150px);

      @include-media ("desktop") {
        height: desktop-vw(430px);
        width: desktop-vw(240px);
      }

      .transform-container {
        transform: translateX(desktop-vw(-100px));

        &.active {
          transform: translateX(desktop-vw(100px));
        }
      }

      &.munch-owra-1 {
        transform: translateY(mobile-vw(240px)) translateX(mobile-vw(-50px));

        @include-media ("desktop") {
          transform: translateY(desktop-vw(450px)) translateX(desktop-vw(-150px));
        }

        .transform-container {
          transition: transform 400ms ease;
        }
      }

      &.munch-owra-2 {
        transform: translateY(mobile-vw(300px)) translateX(mobile-vw(-100px)) scale(1.1);

        @include-media ("desktop") {
          transform: translateY(desktop-vw(550px)) translateX(desktop-vw(-300px)) scale(1.1);
        }

        .transform-container {
          transition: transform 425ms ease;
        }
      }

      &.munch-owra-3 {
        transform: translateY(mobile-vw(150px)) translateX(mobile-vw(100px)) scale(1.2);

        @include-media ("desktop") {
          transform: translateY(desktop-vw(250px)) translateX(desktop-vw(100px)) scale(1.2);
        }

        .transform-container {
          transition: transform 450ms ease;
        }
      }

      &.munch-owra-4 {
        transform: translateY(desktop-vw(700px)) translateX(desktop-vw(-600px)) scale(1.3);

        @include-media ("desktop") {
          transform: translateY(desktop-vw(350px)) translateX(desktop-vw(-250px)) scale(1.3);
        }

        .transform-container {
          transition: transform 500ms ease;
        }
      }
    }
  }
}

.munch-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  opacity: 0;
  transition: opacity 400ms ease;

  &.active {
    opacity: 1;
  }

  .munch {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform 700ms ease;
    z-index: 100;

    &.m-1 {
      --size: mobile-vw(100px);

      filter: blur(4px);

      bottom: mobile-vw(-150px);
      left: mobile-vw(-100px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(270px);

        filter: blur(10px);

        bottom: desktop-vw(-250px);
        left: desktop-vw(-200px);
      }

      &.active {
        transform: translateX(mobile-vw(50px)) translateY(mobile-vw(-100px)) rotate(15deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(50px)) translateY(desktop-vw(-100px)) rotate(15deg);
        }
      }
    }

    &.m-2 {
      --size: mobile-vw(40px);

      bottom: mobile-vw(100px);
      left: mobile-vw(50px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(80px);
        bottom: desktop-vw(350px);
        left: desktop-vw(-50px);
      }

      &.active {
        transform: translateX(mobile-vw(50px)) translateY(mobile-vw(-80px)) rotate(-10deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(50px)) translateY(desktop-vw(-80px)) rotate(-10deg);
        }
      }
    }

    &.m-3 {
      --size: mobile-vw(40px);

      bottom: mobile-vw(80px);
      left: mobile-vw(50px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(60px);
        bottom: desktop-vw(200px);
        left: desktop-vw(150px);
      }

      &.active {
        transform: translateX(mobile-vw(130px)) translateY(mobile-vw(-120px)) rotate(20deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(130px)) translateY(desktop-vw(-120px)) rotate(20deg);
        }
      }
    }

    &.m-4 {
      --size: mobile-vw(40px);

      bottom: mobile-vw(200px);
      left: mobile-vw(-90px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(80px);

        bottom: desktop-vw(150px);
        left: desktop-vw(250px);
      }

      &.active {
        transform: translateX(mobile-vw(100px)) translateY(mobile-vw(-50px)) rotate(-15deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(100px)) translateY(desktop-vw(-50px)) rotate(-15deg);
        }
      }
    }

    &.m-5 {
      --size: mobile-vw(30px);

      bottom: mobile-vw(70px);
      left: mobile-vw(150px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(60px);
        bottom: desktop-vw(120px);
        left: desktop-vw(450px);
      }

      &.active {
        transform: translateX(mobile-vw(120px)) translateY(mobile-vw(-50px)) rotate(12deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(120px)) translateY(desktop-vw(-50px)) rotate(12deg);
        }
      }
    }

    &.m-6 {
      --size: mobile-vw(60px);

      bottom: mobile-vw(200px);
      left: mobile-vw(250px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(80px);
        bottom: desktop-vw(30px);
        left: desktop-vw(550px);
      }

      &.active {
        transform: translateX(mobile-vw(80px)) translateY(mobile-vw(-30px)) rotate(-18deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(80px)) translateY(desktop-vw(-30px)) rotate(-18deg);
        }
      }
    }

    &.m-7 {
      --size: mobile-vw(50px);

      bottom: mobile-vw(-50px);
      left: mobile-vw(150px);

      height: var(--size);
      width: var(--size);

      @include-media ("desktop") {
        --size: desktop-vw(80px);

        bottom: desktop-vw(-50px);
        left: desktop-vw(350px);
      }

      &.active {
        transform: translateX(mobile-vw(80px)) translateY(mobile-vw(-30px)) rotate(-18deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(80px)) translateY(desktop-vw(-30px)) rotate(-18deg);
        }
      }
    }
  }
}

.chill-owra-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  .items {
    position: absolute;
    right: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .chill-owra {
      height: mobile-vw(280px);
      width: mobile-vw(200px);

      @include-media ("desktop") {
        height: desktop-vw(560px);
        width: desktop-vw(400px);
      }

      /* .transform-container {
        transition: transform 700ms ease;
        transform: translateX(desktop-vw(50px)) translateY(desktop-vw(50px));

        &.active {
          transform: translateX(desktop-vw(-50px)) translateY(desktop-vw(-50px));
        }
      } */

      &.chill-owra-1 {
        transition: transform 700ms ease;
        transform: translateY(desktop-vw(360px)) translateX(desktop-vw(210px));
        z-index: 10;
      }

      &.chill-owra-2 {
        transition: transform 100ms ease;
        transform: translateY(desktop-vw(190px)) translateX(desktop-vw(90px));
        z-index: 5;
      }
    }
  }
}

.ice-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  opacity: 0;
  transition: opacity 400ms ease;

  &.active {
    opacity: 1;
  }

  .ice {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform 700ms ease;
    z-index: 100;

    &.ice-1 {
      bottom: mobile-vw(17px);
      right: mobile-vw(17px);

      height: mobile-vw(70px);
      width: mobile-vw(70px);

      @include-media ("desktop") {
        bottom: desktop-vw(500px);
        right: desktop-vw(-50px);

        height: desktop-vw(210px);
        width: desktop-vw(210px);
      }

      &.active {
        transform: translateX(mobile-vw(-50px)) translateY(mobile-vw(-100px)) rotate(15deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-50px)) translateY(desktop-vw(-100px)) rotate(15deg);
        }
      }
    }

    &.ice-2 {
      bottom: mobile-vw(40px);
      right: mobile-vw(50px);

      height: mobile-vw(50px);
      width: mobile-vw(50px);

      @include-media ("desktop") {
        bottom: desktop-vw(350px);
        right: desktop-vw(-50px);

        height: desktop-vw(140px);
        width: desktop-vw(140px);
      }

      &.active {
        transform: translateX(mobile-vw(-50px)) translateY(mobile-vw(-80px)) rotate(-10deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-50px)) translateY(desktop-vw(-80px)) rotate(-10deg);
        }
      }
    }

    &.ice-3 {
      bottom: mobile-vw(60px);
      right: mobile-vw(83px);

      height: mobile-vw(40px);
      width: mobile-vw(40px);

      @include-media ("desktop") {
        bottom: desktop-vw(300px);
        right: desktop-vw(150px);

        height: desktop-vw(120px);
        width: desktop-vw(120px);
      }

      &.active {
        transform: translateX(mobile-vw(-130px)) translateY(mobile-vw(-120px)) rotate(20deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-130px)) translateY(desktop-vw(-120px)) rotate(20deg);
        }
      }
    }

    &.ice-4 {
      bottom: mobile-vw(50px);
      right: mobile-vw(50px);

      height: mobile-vw(30px);
      width: mobile-vw(30px);

      @include-media ("desktop") {
        bottom: desktop-vw(150px);
        right: desktop-vw(250px);

        height: desktop-vw(90px);
        width: desktop-vw(90px);
      }

      &.active {
        transform: translateX(mobile-vw(-100px)) translateY(mobile-vw(-50px)) rotate(-15deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-100px)) translateY(desktop-vw(-50px)) rotate(-15deg);
        }
      }
    }

    &.ice-5 {
      bottom: mobile-vw(73px);
      right: mobile-vw(83px);

      height: mobile-vw(40px);
      width: mobile-vw(40px);

      @include-media ("desktop") {
        bottom: desktop-vw(120px);
        right: desktop-vw(450px);

        height: desktop-vw(120px);
        width: desktop-vw(120px);
      }

      &.active {
        transform: translateX(mobile-vw(-120px)) translateY(mobile-vw(-50px)) rotate(12deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-120px)) translateY(desktop-vw(-50px)) rotate(12deg);
        }
      }
    }

    &.ice-6 {
      bottom: mobile-vw(33px);
      right: mobile-vw(117px);

      height: mobile-vw(30px);
      width: mobile-vw(30px);

      @include-media ("desktop") {
        bottom: desktop-vw(30px);
        right: desktop-vw(550px);

        height: desktop-vw(80px);
        width: desktop-vw(80px);
      }

      &.active {
        transform: translateX(mobile-vw(-80px)) translateY(mobile-vw(-30px)) rotate(-18deg);

        @include-media ("desktop") {
          transform: translateX(desktop-vw(-80px)) translateY(desktop-vw(-30px)) rotate(-18deg);
        }
      }
    }
  }
}

.text-container {
  left: 50%;
  position: absolute;
  top: mobile-vw(90px);
  transform: translateX(-50%);
  z-index: 200;

  opacity: 0;
  transition: opacity 200ms ease;
  transition-delay: 200ms;

  &.active {
    opacity: 1;
  }

  @include-media ("desktop") {
    opacity: 0.5;
    transition-delay: 0ms;
    top: desktop-vw(100px);
  }

  .logo-container {
    height: mobile-vw(70px);
    width: mobile-vw(113px);

    @include-media ("tablet") {
      height: tablet-vw(100px);
      position: relative;
      width: tablet-vw(175px);
    }

    @include-media ("desktop") {
      height: desktop-vw(100px);
      position: relative;
      width: desktop-vw(170px);
    }
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobile-switch {
  --height: mobile-vw(32px);
  --width: mobile-vw(260px);

  box-shadow: 1px 2px 5.4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: mobile-vw(32px);
  height: var(--height);
  left: 50%;
  position: absolute;
  top: mobile-vw(40px);
  transform: translate(-50%, -50%);
  width: var(--width);

  @include-media ("tablet") {
    --height: tablet-vw(40px);
    --width: tablet-vw(300px);
  }

  &.left {
    .mobile-switch-item-left {
      color: var(--toasted-marshmallow-fluff);
    }

    .mobile-switch-item-right {
      color: var(--cedar-wood-finish);
    }

    .mobile-switch-bg {
      background: var(--cedar-wood-finish);
      left: 0;
    }
  }

  &.right {
    .mobile-switch-item-left {
      color: var(--blue-ruin);
    }

    .mobile-switch-item-right {
      color: var(--toasted-marshmallow-fluff);
    }

    .mobile-switch-bg {
      background: var(--blue-ruin);
      left: calc(var(--width) / 2);
    }
  }

  .mobile-switch-item {
    color: var(--cedar-wood-finish);
    transition: 400ms all ease;
    width: calc(var(--width) / 2);

    @include-media ("desktop") {
      display: none;
    }
  }

  .mobile-switch-bg {
    border-radius: mobile-vw(32px);
    height: calc(var(--height) * 0.9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 900ms all ease;
    width: calc((var(--width) / 2 - 2px));
  }
}
