.chill-owra-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  .items {
    position: absolute;
    right: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .chill-owra {
      height: desktop-vw(560px);
      width: desktop-vw(400px);

      .transform-container {
        transition: transform 700ms ease;
        transform: translateX(desktop-vw(100px));

        &.right {
          transform: translateX(desktop-vw(-100px));
        }
      }

      &.chill-owra-1 {
        transition: transform 700ms ease;
        transform: translateY(desktop-vw(360px)) translateX(desktop-vw(210px));
        z-index: 10;
      }

      &.chill-owra-2 {
        transition: transform 700ms ease;
        transform: translateY(desktop-vw(190px)) translateX(desktop-vw(90px));
        z-index: 5;
      }
    }
  }
}

.ice-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;

  .ice {
    position: absolute;

    height: desktop-vw(100px);
    width: desktop-vw(100px);

    &.ice-1 {
      top: desktop-vw(-100px);
      right: desktop-vw(-100px);

      height: desktop-vw(210px);
      width: desktop-vw(210px);
    }

    &.ice-2 {
      top: desktop-vw(100px);
      right: desktop-vw(50px);

      height: desktop-vw(160px);
      width: desktop-vw(160px);
    }

    &.ice-3 {
      top: desktop-vw(200px);
      right: desktop-vw(200px);

      height: desktop-vw(120px);
      width: desktop-vw(120px);
    }

    &.ice-4 {
      top: desktop-vw(500px);
      left: desktop-vw(500px);
    }

    &.ice-5 {
      top: desktop-vw(600px);
      left: desktop-vw(600px);

      transform: translate(-50%, -50%);
    }

    &.ice-6 {
      top: desktop-vw(700px);
      left: desktop-vw(700px);
    }
  }
}

.text-container {
  position: absolute;
  top: desktop-vw(100px);
  left: 50%;
  transform: translateX(-50%);

  .logo-container {
    position: relative;
    width: desktop-vw(170px);
    height: desktop-vw(100px);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
